html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  width: 100%;
}

textarea {
  display: block;
  width: 60%;
  min-height: 20%;
  margin: 0 auto;
}

input {
  margin-top: 32px;
  width: 200px;
}

h1 {
  color: red;
  text-align: center;
}






