<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/views/styles/style.css">
    <title>Facebook Event Scraper - Error</title>
</head>

<body>

<main class="main-wrapper">
    <h1>Ouch :/ Une erreur est survenue ...<h1>
</main>

</body>
<script src="/app/views/scripts/index.js"></script>
</html>
